body {
  width: calc(100vw - 2rem);
  height: 100%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0 0.5rem 0.5rem 0.5rem;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border-color: #ccc;
  color: #333;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "San Francisco", system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

li h3 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0.5rem 0;
}

li.working h3::before {
	content: '⏲️';
	margin-right: 0.5rem;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #ffffff, #e5e5e5);
  transform: scale(1.02);
  cursor: pointer;
}

li  div.summary {
	padding: 0;
	margin-top: 0.25rem;
	font-size: 0.75rem;
}

li.hidden {
  display: none;
}

input#search {
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #ccc;
	font-size: 1rem;
}

li.working {
	background: linear-gradient(45deg, #ffffff, #cbcbcb);
	background-size: 400% 400%;
	animation: pulseBackground 2s infinite alternate;
}

@keyframes pulseBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

#ask button {
	display: none;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
}

.hasanswer:before {
    content: "";
    width: 0px;
    height: -10px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 24px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 20px solid transparent;
    background-color: #f5f5f5;
    left: 6px;
    top: -36px;
    position: relative;
    font-size: 0;
    margin: 0;
  }
.hasanswer {
	margin-top: 40px;
}
.answer {
	display: none;
}

.hasanswer .answer {
	display: block;
	border-radius: inherit;
	background-color: #f5f5f5;
	padding: 0.5rem;
	margin-top: -1.21rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	font-size: 0.75rem;
	border-color: #ccc;
	font-weight:bolder;
	line-height: 1.25;
}
